section {
  padding: 64px 12px 0 12px; }

h3,
h4,
p {
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A; }

p {
  font-size: 0.875rem;
  line-height: 22px; }

h3 {
  font-size: 1.563rem; }

h4 {
  font-size: 1.25rem; }

.large-title {
  font-size: 1.5rem;
  padding: 0 16px;
  opacity: 0.92;
  background-color: #fff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A;
  font-weight: 600;
  letter-spacing: 11.29px;
  margin: 0; }
  @media screen and (min-width: 463px) {
    .large-title {
      font-size: 2.5rem; } }
  @media screen and (min-width: 576px) {
    .large-title {
      font-size: 3.375rem; } }

.row-padd {
  padding-bottom: 32px; }

.nav-wrapper {
  font-family: "Archivo Narrow", sans-serif;
  background-color: #fff; }
  .nav-wrapper .snowpony-logo {
    max-width: 180px; }
  .nav-wrapper .nav-padd {
    padding: 32px 12px; }
  .nav-wrapper .navbar-light,
  .nav-wrapper .nav-link {
    font-family: "Archivo Narrow", sans-serif !important;
    color: #1A1A1A !important;
    cursor: pointer; }
    .nav-wrapper .navbar-light:hover,
    .nav-wrapper .nav-link:hover {
      color: #979797; }
  .nav-wrapper .collapse-wrapper {
    max-width: 800px; }

.header-section {
  background-image: url("../assets/sp-header.jpg");
  height: 80vh;
  max-height: 650px;
  max-width: 100%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .header-section {
      background-attachment: fixed; } }
  .header-section .header-title {
    margin-top: 15%; }

.intro-section img,
.intro-two img {
  max-width: 100%; }

.intro-section h4,
.intro-section h3,
.intro-two h4,
.intro-two h3 {
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A; }

.intro-section h4,
.intro-two h4 {
  margin: 17px 0; }

.intro-section p,
.intro-two p {
  margin-bottom: 32px; }

.intro-section .intro-text,
.intro-two .intro-text {
  color: #585959;
  font-size: 1rem; }
  .intro-section .intro-text a,
  .intro-two .intro-text a {
    color: #585959;
    text-decoration: underline; }
    .intro-section .intro-text a:hover,
    .intro-two .intro-text a:hover {
      color: #1A1A1A; }

.intro-two {
  padding-bottom: 64px; }

.about-us-header {
  background-image: url("../assets/sp-header.jpg");
  height: 60vh;
  max-height: 500px;
  max-width: 100%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .about-us-header {
      background-attachment: fixed; } }
  .about-us-header .about-title {
    margin-top: 10%; }

.about-us {
  padding-bottom: 64px; }
  .about-us img {
    max-width: 100%; }
  .about-us .about-txt {
    margin-bottom: 32px; }

.map-section {
  background-image: url("../assets/sp-map.png");
  height: 60vh;
  max-height: 500px;
  max-width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: none;
  -webkit-box-shadow: inset 0px 11px 8px -10px #D8D8D8,  inset 0px -11px 8px -10px #D8D8D8;
          box-shadow: inset 0px 11px 8px -10px #D8D8D8,  inset 0px -11px 8px -10px #D8D8D8; }

.gallery-section {
  padding-bottom: 64px; }
  .gallery-section img {
    max-width: 100%;
    margin-bottom: 32px; }
  .gallery-section .gallery-btn {
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: "Archivo Narrow", sans-serif;
    color: #1A1A1A;
    -webkit-transition: all ease-in-out 400ms;
    transition: all ease-in-out 400ms; }
    .gallery-section .gallery-btn:hover {
      text-decoration: none;
      color: #fff;
      background-color: #1A1A1A; }
  .gallery-section .hide-me {
    display: none; }
    @media screen and (min-width: 768px) {
      .gallery-section .hide-me {
        display: inline-block; } }

.footer {
  background-color: #1A1A1A;
  padding-bottom: 32px; }
  .footer p {
    color: #ccc;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 0.875rem;
    line-height: 12px; }
  .footer img {
    max-width: 180px;
    margin-bottom: 32px; }
  .footer .footer-credit {
    margin-top: 32px; }
    .footer .footer-credit a {
      color: #979797; }
      .footer .footer-credit a:hover {
        text-decoration: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLDBCQUEwQixFQUFFOztBQUU5Qjs7O0VBR0UsMENBQTBDO0VBQzFDLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxvQkFBb0I7RUFDcEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0Usb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0Usa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixjQUFjO0VBQ2QsdUJBQXVCO0VBQ3ZCLCtCQUF1QjtFQUF2Qiw0QkFBdUI7RUFBdkIsdUJBQXVCO0VBQ3ZCLDBDQUEwQztFQUMxQyxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLHdCQUF3QjtFQUN4QixVQUFVLEVBQUU7RUFDWjtJQUNFO01BQ0Usa0JBQWtCLEVBQUUsRUFBRTtFQUMxQjtJQUNFO01BQ0Usb0JBQW9CLEVBQUUsRUFBRTs7QUFFOUI7RUFDRSxxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSwwQ0FBMEM7RUFDMUMsdUJBQXVCLEVBQUU7RUFDekI7SUFDRSxpQkFBaUIsRUFBRTtFQUNyQjtJQUNFLG1CQUFtQixFQUFFO0VBQ3ZCOztJQUVFLHFEQUFxRDtJQUNyRCwwQkFBMEI7SUFDMUIsZ0JBQWdCLEVBQUU7SUFDbEI7O01BRUUsZUFBZSxFQUFFO0VBQ3JCO0lBQ0UsaUJBQWlCLEVBQUU7O0FBRXZCO0VBQ0UsaURBQWlEO0VBQ2pELGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLDhCQUE4QjtFQUM5Qiw0QkFBNEI7RUFDNUIsdUJBQXVCO0VBQ3ZCLHdCQUF3QjtFQUN4QixtQkFBbUI7RUFDbkIsaUJBQWlCLEVBQUU7RUFDbkI7SUFDRTtNQUNFLDZCQUE2QixFQUFFLEVBQUU7RUFDckM7SUFDRSxnQkFBZ0IsRUFBRTs7QUFFdEI7O0VBRUUsZ0JBQWdCLEVBQUU7O0FBRXBCOzs7O0VBSUUsMENBQTBDO0VBQzFDLGVBQWUsRUFBRTs7QUFFbkI7O0VBRUUsZUFBZSxFQUFFOztBQUVuQjs7RUFFRSxvQkFBb0IsRUFBRTs7QUFFeEI7O0VBRUUsZUFBZTtFQUNmLGdCQUFnQixFQUFFO0VBQ2xCOztJQUVFLGVBQWU7SUFDZiwyQkFBMkIsRUFBRTtJQUM3Qjs7TUFFRSxlQUFlLEVBQUU7O0FBRXZCO0VBQ0UscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsaURBQWlEO0VBQ2pELGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLDhCQUE4QjtFQUM5Qiw0QkFBNEI7RUFDNUIsdUJBQXVCO0VBQ3ZCLHdCQUF3QjtFQUN4QixtQkFBbUI7RUFDbkIsaUJBQWlCLEVBQUU7RUFDbkI7SUFDRTtNQUNFLDZCQUE2QixFQUFFLEVBQUU7RUFDckM7SUFDRSxnQkFBZ0IsRUFBRTs7QUFFdEI7RUFDRSxxQkFBcUIsRUFBRTtFQUN2QjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0Usb0JBQW9CLEVBQUU7O0FBRTFCO0VBQ0UsOENBQThDO0VBQzlDLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLGdDQUFnQztFQUNoQyx1QkFBdUI7RUFDdkIsd0JBQXdCO0VBQ3hCLHlGQUFpRjtVQUFqRixpRkFBaUYsRUFBRTs7QUFFckY7RUFDRSxxQkFBcUIsRUFBRTtFQUN2QjtJQUNFLGdCQUFnQjtJQUNoQixvQkFBb0IsRUFBRTtFQUN4QjtJQUNFLDBCQUEwQjtJQUMxQixtQkFBbUI7SUFDbkIsbUJBQW1CO0lBQ25CLDBDQUEwQztJQUMxQyxlQUFlO0lBQ2YsMENBQWtDO0lBQWxDLGtDQUFrQyxFQUFFO0lBQ3BDO01BQ0Usc0JBQXNCO01BQ3RCLFlBQVk7TUFDWiwwQkFBMEIsRUFBRTtFQUNoQztJQUNFLGNBQWMsRUFBRTtJQUNoQjtNQUNFO1FBQ0Usc0JBQXNCLEVBQUUsRUFBRTs7QUFFbEM7RUFDRSwwQkFBMEI7RUFDMUIscUJBQXFCLEVBQUU7RUFDdkI7SUFDRSxZQUFZO0lBQ1osMENBQTBDO0lBQzFDLG9CQUFvQjtJQUNwQixrQkFBa0IsRUFBRTtFQUN0QjtJQUNFLGlCQUFpQjtJQUNqQixvQkFBb0IsRUFBRTtFQUN4QjtJQUNFLGlCQUFpQixFQUFFO0lBQ25CO01BQ0UsZUFBZSxFQUFFO01BQ2pCO1FBQ0Usc0JBQXNCLEVBQUUiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsic2VjdGlvbiB7XG4gIHBhZGRpbmc6IDY0cHggMTJweCAwIDEycHg7IH1cblxuaDMsXG5oNCxcbnAge1xuICBmb250LWZhbWlseTogXCJBcmNoaXZvIE5hcnJvd1wiLCBzYW5zLXNlcmlmO1xuICBjb2xvcjogIzFBMUExQTsgfVxuXG5wIHtcbiAgZm9udC1zaXplOiAwLjg3NXJlbTtcbiAgbGluZS1oZWlnaHQ6IDIycHg7IH1cblxuaDMge1xuICBmb250LXNpemU6IDEuNTYzcmVtOyB9XG5cbmg0IHtcbiAgZm9udC1zaXplOiAxLjI1cmVtOyB9XG5cbi5sYXJnZS10aXRsZSB7XG4gIGZvbnQtc2l6ZTogMS41cmVtO1xuICBwYWRkaW5nOiAwIDE2cHg7XG4gIG9wYWNpdHk6IDAuOTI7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG4gIG1heC13aWR0aDogZml0LWNvbnRlbnQ7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMUExQTFBO1xuICBmb250LXdlaWdodDogNjAwO1xuICBsZXR0ZXItc3BhY2luZzogMTEuMjlweDtcbiAgbWFyZ2luOiAwOyB9XG4gIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDQ2M3B4KSB7XG4gICAgLmxhcmdlLXRpdGxlIHtcbiAgICAgIGZvbnQtc2l6ZTogMi41cmVtOyB9IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTc2cHgpIHtcbiAgICAubGFyZ2UtdGl0bGUge1xuICAgICAgZm9udC1zaXplOiAzLjM3NXJlbTsgfSB9XG5cbi5yb3ctcGFkZCB7XG4gIHBhZGRpbmctYm90dG9tOiAzMnB4OyB9XG5cbi5uYXYtd3JhcHBlciB7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7IH1cbiAgLm5hdi13cmFwcGVyIC5zbm93cG9ueS1sb2dvIHtcbiAgICBtYXgtd2lkdGg6IDE4MHB4OyB9XG4gIC5uYXYtd3JhcHBlciAubmF2LXBhZGQge1xuICAgIHBhZGRpbmc6IDMycHggMTJweDsgfVxuICAubmF2LXdyYXBwZXIgLm5hdmJhci1saWdodCxcbiAgLm5hdi13cmFwcGVyIC5uYXYtbGluayB7XG4gICAgZm9udC1mYW1pbHk6IFwiQXJjaGl2byBOYXJyb3dcIiwgc2Fucy1zZXJpZiAhaW1wb3J0YW50O1xuICAgIGNvbG9yOiAjMUExQTFBICFpbXBvcnRhbnQ7XG4gICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgLm5hdi13cmFwcGVyIC5uYXZiYXItbGlnaHQ6aG92ZXIsXG4gICAgLm5hdi13cmFwcGVyIC5uYXYtbGluazpob3ZlciB7XG4gICAgICBjb2xvcjogIzk3OTc5NzsgfVxuICAubmF2LXdyYXBwZXIgLmNvbGxhcHNlLXdyYXBwZXIge1xuICAgIG1heC13aWR0aDogODAwcHg7IH1cblxuLmhlYWRlci1zZWN0aW9uIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vYXNzZXRzL3NwLWhlYWRlci5qcGdcIik7XG4gIGhlaWdodDogODB2aDtcbiAgbWF4LWhlaWdodDogNjUwcHg7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBzY3JvbGw7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vbmU7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgb3ZlcmZsb3c6IGhpZGRlbjsgfVxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA1NzZweCkge1xuICAgIC5oZWFkZXItc2VjdGlvbiB7XG4gICAgICBiYWNrZ3JvdW5kLWF0dGFjaG1lbnQ6IGZpeGVkOyB9IH1cbiAgLmhlYWRlci1zZWN0aW9uIC5oZWFkZXItdGl0bGUge1xuICAgIG1hcmdpbi10b3A6IDE1JTsgfVxuXG4uaW50cm8tc2VjdGlvbiBpbWcsXG4uaW50cm8tdHdvIGltZyB7XG4gIG1heC13aWR0aDogMTAwJTsgfVxuXG4uaW50cm8tc2VjdGlvbiBoNCxcbi5pbnRyby1zZWN0aW9uIGgzLFxuLmludHJvLXR3byBoNCxcbi5pbnRyby10d28gaDMge1xuICBmb250LWZhbWlseTogXCJBcmNoaXZvIE5hcnJvd1wiLCBzYW5zLXNlcmlmO1xuICBjb2xvcjogIzFBMUExQTsgfVxuXG4uaW50cm8tc2VjdGlvbiBoNCxcbi5pbnRyby10d28gaDQge1xuICBtYXJnaW46IDE3cHggMDsgfVxuXG4uaW50cm8tc2VjdGlvbiBwLFxuLmludHJvLXR3byBwIHtcbiAgbWFyZ2luLWJvdHRvbTogMzJweDsgfVxuXG4uaW50cm8tc2VjdGlvbiAuaW50cm8tdGV4dCxcbi5pbnRyby10d28gLmludHJvLXRleHQge1xuICBjb2xvcjogIzU4NTk1OTtcbiAgZm9udC1zaXplOiAxcmVtOyB9XG4gIC5pbnRyby1zZWN0aW9uIC5pbnRyby10ZXh0IGEsXG4gIC5pbnRyby10d28gLmludHJvLXRleHQgYSB7XG4gICAgY29sb3I6ICM1ODU5NTk7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7IH1cbiAgICAuaW50cm8tc2VjdGlvbiAuaW50cm8tdGV4dCBhOmhvdmVyLFxuICAgIC5pbnRyby10d28gLmludHJvLXRleHQgYTpob3ZlciB7XG4gICAgICBjb2xvcjogIzFBMUExQTsgfVxuXG4uaW50cm8tdHdvIHtcbiAgcGFkZGluZy1ib3R0b206IDY0cHg7IH1cblxuLmFib3V0LXVzLWhlYWRlciB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2Fzc2V0cy9zcC1oZWFkZXIuanBnXCIpO1xuICBoZWlnaHQ6IDYwdmg7XG4gIG1heC1oZWlnaHQ6IDUwMHB4O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogc2Nyb2xsO1xuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBub25lO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIG92ZXJmbG93OiBoaWRkZW47IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTc2cHgpIHtcbiAgICAuYWJvdXQtdXMtaGVhZGVyIHtcbiAgICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7IH0gfVxuICAuYWJvdXQtdXMtaGVhZGVyIC5hYm91dC10aXRsZSB7XG4gICAgbWFyZ2luLXRvcDogMTAlOyB9XG5cbi5hYm91dC11cyB7XG4gIHBhZGRpbmctYm90dG9tOiA2NHB4OyB9XG4gIC5hYm91dC11cyBpbWcge1xuICAgIG1heC13aWR0aDogMTAwJTsgfVxuICAuYWJvdXQtdXMgLmFib3V0LXR4dCB7XG4gICAgbWFyZ2luLWJvdHRvbTogMzJweDsgfVxuXG4ubWFwLXNlY3Rpb24ge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9hc3NldHMvc3AtbWFwLnBuZ1wiKTtcbiAgaGVpZ2h0OiA2MHZoO1xuICBtYXgtaGVpZ2h0OiA1MDBweDtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiB0b3AgY2VudGVyO1xuICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm9uZTtcbiAgYm94LXNoYWRvdzogaW5zZXQgMHB4IDExcHggOHB4IC0xMHB4ICNEOEQ4RDgsICBpbnNldCAwcHggLTExcHggOHB4IC0xMHB4ICNEOEQ4RDg7IH1cblxuLmdhbGxlcnktc2VjdGlvbiB7XG4gIHBhZGRpbmctYm90dG9tOiA2NHB4OyB9XG4gIC5nYWxsZXJ5LXNlY3Rpb24gaW1nIHtcbiAgICBtYXgtd2lkdGg6IDEwMCU7XG4gICAgbWFyZ2luLWJvdHRvbTogMzJweDsgfVxuICAuZ2FsbGVyeS1zZWN0aW9uIC5nYWxsZXJ5LWJ0biB7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzFBMUExQTtcbiAgICBib3JkZXItcmFkaXVzOiA0cHg7XG4gICAgcGFkZGluZzogMTJweCAyMHB4O1xuICAgIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gICAgY29sb3I6ICMxQTFBMUE7XG4gICAgdHJhbnNpdGlvbjogYWxsIGVhc2UtaW4tb3V0IDQwMG1zOyB9XG4gICAgLmdhbGxlcnktc2VjdGlvbiAuZ2FsbGVyeS1idG46aG92ZXIge1xuICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgICAgY29sb3I6ICNmZmY7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMUExQTFBOyB9XG4gIC5nYWxsZXJ5LXNlY3Rpb24gLmhpZGUtbWUge1xuICAgIGRpc3BsYXk6IG5vbmU7IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA3NjhweCkge1xuICAgICAgLmdhbGxlcnktc2VjdGlvbiAuaGlkZS1tZSB7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfSB9XG5cbi5mb290ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMUExQTFBO1xuICBwYWRkaW5nLWJvdHRvbTogMzJweDsgfVxuICAuZm9vdGVyIHAge1xuICAgIGNvbG9yOiAjY2NjO1xuICAgIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gICAgZm9udC1zaXplOiAwLjg3NXJlbTtcbiAgICBsaW5lLWhlaWdodDogMTJweDsgfVxuICAuZm9vdGVyIGltZyB7XG4gICAgbWF4LXdpZHRoOiAxODBweDtcbiAgICBtYXJnaW4tYm90dG9tOiAzMnB4OyB9XG4gIC5mb290ZXIgLmZvb3Rlci1jcmVkaXQge1xuICAgIG1hcmdpbi10b3A6IDMycHg7IH1cbiAgICAuZm9vdGVyIC5mb290ZXItY3JlZGl0IGEge1xuICAgICAgY29sb3I6ICM5Nzk3OTc7IH1cbiAgICAgIC5mb290ZXIgLmZvb3Rlci1jcmVkaXQgYTpob3ZlciB7XG4gICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTsgfVxuIl19 */