section {
  padding: 64px 12px 0 12px; }

h3,
h4,
p {
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A; }

p {
  font-size: 1rem;
  line-height: 22px; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

.large-title {
  font-size: 2rem;
  padding: 0 16px;
  opacity: 0.92;
  background-color: #fff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A;
  font-weight: 600;
  letter-spacing: 11.29px;
  margin: 0; }
  @media screen and (min-width: 463px) {
    .large-title {
      font-size: 2.5rem; } }
  @media screen and (min-width: 576px) {
    .large-title {
      font-size: 3.375rem; } }

.row-padd {
  padding-bottom: 32px; }

.nav-wrapper {
  font-family: "Archivo Narrow", sans-serif;
  background-color: #fff; }
  .nav-wrapper .snowpony-logo {
    max-width: 60px; }
  .nav-wrapper .nav-padd {
    padding: 32px 12px; }
  .nav-wrapper .navbar-light,
  .nav-wrapper .nav-link {
    font-family: "Archivo Narrow", sans-serif !important;
    color: #1A1A1A !important;
    cursor: pointer; }
    .nav-wrapper .navbar-light:hover,
    .nav-wrapper .nav-link:hover {
      color: #979797 !important; }
  .nav-wrapper .collapse-wrapper {
    max-width: 800px; }

.header-section {
  background-image: url("../assets/sp-header.png");
  height: 40vh;
  max-height: 650px;
  max-width: 100%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .header-section {
      height: 80vh;
      background-attachment: fixed; } }
  .header-section span {
    display: none; }
    @media screen and (min-width: 576px) {
      .header-section span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; } }
  .header-section .header-title {
    margin-top: 15%; }

.intro-section img,
.intro-two img {
  max-width: 100%; }

.intro-section h4,
.intro-section h3,
.intro-two h4,
.intro-two h3 {
  font-family: "Archivo Narrow", sans-serif;
  color: #1A1A1A; }

.intro-section h4,
.intro-two h4 {
  margin: 17px 0; }

.intro-section .intro-heading,
.intro-two .intro-heading {
  margin-top: 32px; }
  @media screen and (min-width: 960px) {
    .intro-section .intro-heading,
    .intro-two .intro-heading {
      margin-top: 0; } }

.intro-section p,
.intro-two p {
  margin-bottom: 64px; }

.intro-section .intro-text,
.intro-two .intro-text {
  color: #585959;
  font-size: 1rem; }
  .intro-section .intro-text a,
  .intro-two .intro-text a {
    color: #585959;
    text-decoration: underline; }
    .intro-section .intro-text a:hover,
    .intro-two .intro-text a:hover {
      color: #1A1A1A; }

.about-us-header {
  background-image: url("../assets/about-header.png");
  height: 40vh;
  max-height: 500px;
  max-width: 100%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 576px) {
    .about-us-header {
      background-attachment: fixed;
      height: 60vh; } }
  .about-us-header .about-title {
    margin-top: 10%; }

.about-us {
  padding-bottom: 64px; }
  .about-us img {
    max-width: 100%; }
  .about-us .about-txt {
    margin-bottom: 32px; }

.map-section {
  background-image: url("../assets/sp-map.png");
  height: 60vh;
  max-height: 500px;
  max-width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: none;
  -webkit-box-shadow: inset 0px 11px 8px -10px #D8D8D8,  inset 0px -11px 8px -10px #D8D8D8;
          box-shadow: inset 0px 11px 8px -10px #D8D8D8,  inset 0px -11px 8px -10px #D8D8D8; }

.gallery-section {
  padding-bottom: 64px; }
  .gallery-section img {
    max-width: 100%;
    margin-bottom: 32px; }
  .gallery-section .gallery-btn {
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    padding: 12px 20px;
    font-family: "Archivo Narrow", sans-serif;
    color: #1A1A1A;
    -webkit-transition: all ease-in-out 400ms;
    transition: all ease-in-out 400ms; }
    .gallery-section .gallery-btn:hover {
      text-decoration: none;
      color: #fff;
      background-color: #1A1A1A; }
  .gallery-section .hide-me {
    display: none; }
    @media screen and (min-width: 768px) {
      .gallery-section .hide-me {
        display: inline-block; } }

.footer {
  background-color: #1A1A1A;
  padding-bottom: 32px; }
  .footer p {
    color: #ccc;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1rem;
    line-height: 14px; }
  .footer img {
    max-width: 50px;
    margin-bottom: 32px; }
  .footer .footer-credit {
    margin-top: 32px; }
    .footer .footer-credit a {
      line-height: 20px;
      color: #979797; }
      .footer .footer-credit a:hover {
        text-decoration: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLDBCQUEwQixFQUFFOztBQUU5Qjs7O0VBR0UsMENBQTBDO0VBQzFDLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxnQkFBZ0I7RUFDaEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0Usa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQixjQUFjO0VBQ2QsdUJBQXVCO0VBQ3ZCLCtCQUF1QjtFQUF2Qiw0QkFBdUI7RUFBdkIsdUJBQXVCO0VBQ3ZCLDBDQUEwQztFQUMxQyxlQUFlO0VBQ2YsaUJBQWlCO0VBQ2pCLHdCQUF3QjtFQUN4QixVQUFVLEVBQUU7RUFDWjtJQUNFO01BQ0Usa0JBQWtCLEVBQUUsRUFBRTtFQUMxQjtJQUNFO01BQ0Usb0JBQW9CLEVBQUUsRUFBRTs7QUFFOUI7RUFDRSxxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSwwQ0FBMEM7RUFDMUMsdUJBQXVCLEVBQUU7RUFDekI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLG1CQUFtQixFQUFFO0VBQ3ZCOztJQUVFLHFEQUFxRDtJQUNyRCwwQkFBMEI7SUFDMUIsZ0JBQWdCLEVBQUU7SUFDbEI7O01BRUUsMEJBQTBCLEVBQUU7RUFDaEM7SUFDRSxpQkFBaUIsRUFBRTs7QUFFdkI7RUFDRSxpREFBaUQ7RUFDakQsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsOEJBQThCO0VBQzlCLDRCQUE0QjtFQUM1Qix1QkFBdUI7RUFDdkIsd0JBQXdCO0VBQ3hCLG1CQUFtQjtFQUNuQixpQkFBaUIsRUFBRTtFQUNuQjtJQUNFO01BQ0UsYUFBYTtNQUNiLDZCQUE2QixFQUFFLEVBQUU7RUFDckM7SUFDRSxjQUFjLEVBQUU7SUFDaEI7TUFDRTtRQUNFLDRCQUFxQjtRQUFyQiw0QkFBcUI7UUFBckIscUJBQXFCLEVBQUUsRUFBRTtFQUMvQjtJQUNFLGdCQUFnQixFQUFFOztBQUV0Qjs7RUFFRSxnQkFBZ0IsRUFBRTs7QUFFcEI7Ozs7RUFJRSwwQ0FBMEM7RUFDMUMsZUFBZSxFQUFFOztBQUVuQjs7RUFFRSxlQUFlLEVBQUU7O0FBRW5COztFQUVFLGlCQUFpQixFQUFFO0VBQ25CO0lBQ0U7O01BRUUsY0FBYyxFQUFFLEVBQUU7O0FBRXhCOztFQUVFLG9CQUFvQixFQUFFOztBQUV4Qjs7RUFFRSxlQUFlO0VBQ2YsZ0JBQWdCLEVBQUU7RUFDbEI7O0lBRUUsZUFBZTtJQUNmLDJCQUEyQixFQUFFO0lBQzdCOztNQUVFLGVBQWUsRUFBRTs7QUFFdkI7RUFDRSxvREFBb0Q7RUFDcEQsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsOEJBQThCO0VBQzlCLDRCQUE0QjtFQUM1Qix1QkFBdUI7RUFDdkIsd0JBQXdCO0VBQ3hCLG1CQUFtQjtFQUNuQixpQkFBaUIsRUFBRTtFQUNuQjtJQUNFO01BQ0UsNkJBQTZCO01BQzdCLGFBQWEsRUFBRSxFQUFFO0VBQ3JCO0lBQ0UsZ0JBQWdCLEVBQUU7O0FBRXRCO0VBQ0UscUJBQXFCLEVBQUU7RUFDdkI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLG9CQUFvQixFQUFFOztBQUUxQjtFQUNFLDhDQUE4QztFQUM5QyxhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixnQ0FBZ0M7RUFDaEMsdUJBQXVCO0VBQ3ZCLHdCQUF3QjtFQUN4Qix5RkFBaUY7VUFBakYsaUZBQWlGLEVBQUU7O0FBRXJGO0VBQ0UscUJBQXFCLEVBQUU7RUFDdkI7SUFDRSxnQkFBZ0I7SUFDaEIsb0JBQW9CLEVBQUU7RUFDeEI7SUFDRSwwQkFBMEI7SUFDMUIsbUJBQW1CO0lBQ25CLG1CQUFtQjtJQUNuQiwwQ0FBMEM7SUFDMUMsZUFBZTtJQUNmLDBDQUFrQztJQUFsQyxrQ0FBa0MsRUFBRTtJQUNwQztNQUNFLHNCQUFzQjtNQUN0QixZQUFZO01BQ1osMEJBQTBCLEVBQUU7RUFDaEM7SUFDRSxjQUFjLEVBQUU7SUFDaEI7TUFDRTtRQUNFLHNCQUFzQixFQUFFLEVBQUU7O0FBRWxDO0VBQ0UsMEJBQTBCO0VBQzFCLHFCQUFxQixFQUFFO0VBQ3ZCO0lBQ0UsWUFBWTtJQUNaLDBDQUEwQztJQUMxQyxnQkFBZ0I7SUFDaEIsa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxnQkFBZ0I7SUFDaEIsb0JBQW9CLEVBQUU7RUFDeEI7SUFDRSxpQkFBaUIsRUFBRTtJQUNuQjtNQUNFLGtCQUFrQjtNQUNsQixlQUFlLEVBQUU7TUFDakI7UUFDRSxzQkFBc0IsRUFBRSIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJzZWN0aW9uIHtcbiAgcGFkZGluZzogNjRweCAxMnB4IDAgMTJweDsgfVxuXG5oMyxcbmg0LFxucCB7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMUExQTFBOyB9XG5cbnAge1xuICBmb250LXNpemU6IDFyZW07XG4gIGxpbmUtaGVpZ2h0OiAyMnB4OyB9XG5cbmgzIHtcbiAgZm9udC1zaXplOiAxLjc1cmVtOyB9XG5cbmg0IHtcbiAgZm9udC1zaXplOiAxLjVyZW07IH1cblxuLmxhcmdlLXRpdGxlIHtcbiAgZm9udC1zaXplOiAycmVtO1xuICBwYWRkaW5nOiAwIDE2cHg7XG4gIG9wYWNpdHk6IDAuOTI7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG4gIG1heC13aWR0aDogZml0LWNvbnRlbnQ7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMUExQTFBO1xuICBmb250LXdlaWdodDogNjAwO1xuICBsZXR0ZXItc3BhY2luZzogMTEuMjlweDtcbiAgbWFyZ2luOiAwOyB9XG4gIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDQ2M3B4KSB7XG4gICAgLmxhcmdlLXRpdGxlIHtcbiAgICAgIGZvbnQtc2l6ZTogMi41cmVtOyB9IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTc2cHgpIHtcbiAgICAubGFyZ2UtdGl0bGUge1xuICAgICAgZm9udC1zaXplOiAzLjM3NXJlbTsgfSB9XG5cbi5yb3ctcGFkZCB7XG4gIHBhZGRpbmctYm90dG9tOiAzMnB4OyB9XG5cbi5uYXYtd3JhcHBlciB7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7IH1cbiAgLm5hdi13cmFwcGVyIC5zbm93cG9ueS1sb2dvIHtcbiAgICBtYXgtd2lkdGg6IDYwcHg7IH1cbiAgLm5hdi13cmFwcGVyIC5uYXYtcGFkZCB7XG4gICAgcGFkZGluZzogMzJweCAxMnB4OyB9XG4gIC5uYXYtd3JhcHBlciAubmF2YmFyLWxpZ2h0LFxuICAubmF2LXdyYXBwZXIgLm5hdi1saW5rIHtcbiAgICBmb250LWZhbWlseTogXCJBcmNoaXZvIE5hcnJvd1wiLCBzYW5zLXNlcmlmICFpbXBvcnRhbnQ7XG4gICAgY29sb3I6ICMxQTFBMUEgIWltcG9ydGFudDtcbiAgICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgICAubmF2LXdyYXBwZXIgLm5hdmJhci1saWdodDpob3ZlcixcbiAgICAubmF2LXdyYXBwZXIgLm5hdi1saW5rOmhvdmVyIHtcbiAgICAgIGNvbG9yOiAjOTc5Nzk3ICFpbXBvcnRhbnQ7IH1cbiAgLm5hdi13cmFwcGVyIC5jb2xsYXBzZS13cmFwcGVyIHtcbiAgICBtYXgtd2lkdGg6IDgwMHB4OyB9XG5cbi5oZWFkZXItc2VjdGlvbiB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2Fzc2V0cy9zcC1oZWFkZXIucG5nXCIpO1xuICBoZWlnaHQ6IDQwdmg7XG4gIG1heC1oZWlnaHQ6IDY1MHB4O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogc2Nyb2xsO1xuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBub25lO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIG92ZXJmbG93OiBoaWRkZW47IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTc2cHgpIHtcbiAgICAuaGVhZGVyLXNlY3Rpb24ge1xuICAgICAgaGVpZ2h0OiA4MHZoO1xuICAgICAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBmaXhlZDsgfSB9XG4gIC5oZWFkZXItc2VjdGlvbiBzcGFuIHtcbiAgICBkaXNwbGF5OiBub25lOyB9XG4gICAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNTc2cHgpIHtcbiAgICAgIC5oZWFkZXItc2VjdGlvbiBzcGFuIHtcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWZsZXg7IH0gfVxuICAuaGVhZGVyLXNlY3Rpb24gLmhlYWRlci10aXRsZSB7XG4gICAgbWFyZ2luLXRvcDogMTUlOyB9XG5cbi5pbnRyby1zZWN0aW9uIGltZyxcbi5pbnRyby10d28gaW1nIHtcbiAgbWF4LXdpZHRoOiAxMDAlOyB9XG5cbi5pbnRyby1zZWN0aW9uIGg0LFxuLmludHJvLXNlY3Rpb24gaDMsXG4uaW50cm8tdHdvIGg0LFxuLmludHJvLXR3byBoMyB7XG4gIGZvbnQtZmFtaWx5OiBcIkFyY2hpdm8gTmFycm93XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMUExQTFBOyB9XG5cbi5pbnRyby1zZWN0aW9uIGg0LFxuLmludHJvLXR3byBoNCB7XG4gIG1hcmdpbjogMTdweCAwOyB9XG5cbi5pbnRyby1zZWN0aW9uIC5pbnRyby1oZWFkaW5nLFxuLmludHJvLXR3byAuaW50cm8taGVhZGluZyB7XG4gIG1hcmdpbi10b3A6IDMycHg7IH1cbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogOTYwcHgpIHtcbiAgICAuaW50cm8tc2VjdGlvbiAuaW50cm8taGVhZGluZyxcbiAgICAuaW50cm8tdHdvIC5pbnRyby1oZWFkaW5nIHtcbiAgICAgIG1hcmdpbi10b3A6IDA7IH0gfVxuXG4uaW50cm8tc2VjdGlvbiBwLFxuLmludHJvLXR3byBwIHtcbiAgbWFyZ2luLWJvdHRvbTogNjRweDsgfVxuXG4uaW50cm8tc2VjdGlvbiAuaW50cm8tdGV4dCxcbi5pbnRyby10d28gLmludHJvLXRleHQge1xuICBjb2xvcjogIzU4NTk1OTtcbiAgZm9udC1zaXplOiAxcmVtOyB9XG4gIC5pbnRyby1zZWN0aW9uIC5pbnRyby10ZXh0IGEsXG4gIC5pbnRyby10d28gLmludHJvLXRleHQgYSB7XG4gICAgY29sb3I6ICM1ODU5NTk7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7IH1cbiAgICAuaW50cm8tc2VjdGlvbiAuaW50cm8tdGV4dCBhOmhvdmVyLFxuICAgIC5pbnRyby10d28gLmludHJvLXRleHQgYTpob3ZlciB7XG4gICAgICBjb2xvcjogIzFBMUExQTsgfVxuXG4uYWJvdXQtdXMtaGVhZGVyIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vYXNzZXRzL2Fib3V0LWhlYWRlci5wbmdcIik7XG4gIGhlaWdodDogNDB2aDtcbiAgbWF4LWhlaWdodDogNTAwcHg7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBzY3JvbGw7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vbmU7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgb3ZlcmZsb3c6IGhpZGRlbjsgfVxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA1NzZweCkge1xuICAgIC5hYm91dC11cy1oZWFkZXIge1xuICAgICAgYmFja2dyb3VuZC1hdHRhY2htZW50OiBmaXhlZDtcbiAgICAgIGhlaWdodDogNjB2aDsgfSB9XG4gIC5hYm91dC11cy1oZWFkZXIgLmFib3V0LXRpdGxlIHtcbiAgICBtYXJnaW4tdG9wOiAxMCU7IH1cblxuLmFib3V0LXVzIHtcbiAgcGFkZGluZy1ib3R0b206IDY0cHg7IH1cbiAgLmFib3V0LXVzIGltZyB7XG4gICAgbWF4LXdpZHRoOiAxMDAlOyB9XG4gIC5hYm91dC11cyAuYWJvdXQtdHh0IHtcbiAgICBtYXJnaW4tYm90dG9tOiAzMnB4OyB9XG5cbi5tYXAtc2VjdGlvbiB7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2Fzc2V0cy9zcC1tYXAucG5nXCIpO1xuICBoZWlnaHQ6IDYwdmg7XG4gIG1heC1oZWlnaHQ6IDUwMHB4O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IHRvcCBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBub25lO1xuICBib3gtc2hhZG93OiBpbnNldCAwcHggMTFweCA4cHggLTEwcHggI0Q4RDhEOCwgIGluc2V0IDBweCAtMTFweCA4cHggLTEwcHggI0Q4RDhEODsgfVxuXG4uZ2FsbGVyeS1zZWN0aW9uIHtcbiAgcGFkZGluZy1ib3R0b206IDY0cHg7IH1cbiAgLmdhbGxlcnktc2VjdGlvbiBpbWcge1xuICAgIG1heC13aWR0aDogMTAwJTtcbiAgICBtYXJnaW4tYm90dG9tOiAzMnB4OyB9XG4gIC5nYWxsZXJ5LXNlY3Rpb24gLmdhbGxlcnktYnRuIHtcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjMUExQTFBO1xuICAgIGJvcmRlci1yYWRpdXM6IDRweDtcbiAgICBwYWRkaW5nOiAxMnB4IDIwcHg7XG4gICAgZm9udC1mYW1pbHk6IFwiQXJjaGl2byBOYXJyb3dcIiwgc2Fucy1zZXJpZjtcbiAgICBjb2xvcjogIzFBMUExQTtcbiAgICB0cmFuc2l0aW9uOiBhbGwgZWFzZS1pbi1vdXQgNDAwbXM7IH1cbiAgICAuZ2FsbGVyeS1zZWN0aW9uIC5nYWxsZXJ5LWJ0bjpob3ZlciB7XG4gICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgICBjb2xvcjogI2ZmZjtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICMxQTFBMUE7IH1cbiAgLmdhbGxlcnktc2VjdGlvbiAuaGlkZS1tZSB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAgIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDc2OHB4KSB7XG4gICAgICAuZ2FsbGVyeS1zZWN0aW9uIC5oaWRlLW1lIHtcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrOyB9IH1cblxuLmZvb3RlciB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMxQTFBMUE7XG4gIHBhZGRpbmctYm90dG9tOiAzMnB4OyB9XG4gIC5mb290ZXIgcCB7XG4gICAgY29sb3I6ICNjY2M7XG4gICAgZm9udC1mYW1pbHk6IFwiQXJjaGl2byBOYXJyb3dcIiwgc2Fucy1zZXJpZjtcbiAgICBmb250LXNpemU6IDFyZW07XG4gICAgbGluZS1oZWlnaHQ6IDE0cHg7IH1cbiAgLmZvb3RlciBpbWcge1xuICAgIG1heC13aWR0aDogNTBweDtcbiAgICBtYXJnaW4tYm90dG9tOiAzMnB4OyB9XG4gIC5mb290ZXIgLmZvb3Rlci1jcmVkaXQge1xuICAgIG1hcmdpbi10b3A6IDMycHg7IH1cbiAgICAuZm9vdGVyIC5mb290ZXItY3JlZGl0IGEge1xuICAgICAgbGluZS1oZWlnaHQ6IDIwcHg7XG4gICAgICBjb2xvcjogIzk3OTc5NzsgfVxuICAgICAgLmZvb3RlciAuZm9vdGVyLWNyZWRpdCBhOmhvdmVyIHtcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lOyB9XG4iXX0= */