.footer {
    background-color: $main-txt-color;
    padding-bottom: 32px;

    p {
        color: #ccc;
        font-family: $archivo;
        font-size: $main-txt;
        line-height: 14px;
    }

    img {
        max-width: 180px;
        margin-bottom: 32px;
    }

    .footer-credit {
        margin-top: 32px;
        a {
            line-height: 20px;
            color: $light-grey;
            &:hover {
                text-decoration: none;
            }
        }
    }

}