.gallery-section {
    padding-bottom: 64px;
    img {
        max-width: 100%;
        margin-bottom: 32px;
    }
    .gallery-btn {
        border: 1px solid $main-txt-color;
        border-radius: 4px;
        padding: 12px 20px;
        font-family: $archivo;
        color: $main-txt-color;
        transition: all 300ms;
        &:hover {
            text-decoration: none;
            color: $white;
            background-color: $main-txt-color;
        }
    }
    .hide-me {
        display: none;
        @media screen and (min-width: $screen-md) {
            display: inline-block;
        }
    }
}