.header-section {
    background-image: url('../assets/sp-header.jpg');
    height: 80vh;
    max-height: 650px;
    max-width: 100%;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $screen-sm) {
        background-attachment: fixed;
    }

    .header-title {
        margin-top: 15%;
    }


}

