.header-section {
    background-image: url('../assets/sp-header.png');
    height: 40vh;
    max-height: 650px;
    max-width: 100%;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $screen-sm) {
        height: 80vh;
        background-attachment: fixed;
    }
    span {
        display:none;
        @media screen and (min-width: $screen-sm) {
            display: inline-flex;
        }
    }

    .header-title {
        margin-top: 15%;
    }


}

