.nav-wrapper {
    font-family: $archivo;
    background-color: $white;

    .snowpony-logo {
        max-width: 180px;
    }

    .nav-padd {
        padding: 32px 12px;
    }
    
    .navbar-light,
    .nav-link {
        font-family: $archivo !important;
        color: $main-txt-color !important;
        cursor: pointer;
        &:hover {
            color:$light-grey !important;
        }
    }
    .collapse-wrapper {
        max-width: 800px;
    }
}


