$archivo: 'Archivo Narrow', sans-serif;
$main-txt-color: #1A1A1A;
$med-grey: #585959;
$light-grey:#979797;
$white: #fff;

$screen-xsm: 463px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 960px;
$screen-xlg: 1140px;

//Font Sizes
$lg-txt: 3.375rem;
$sub-txt: 1.563rem;
$sub-sm-txt: 1.25rem;
$main-txt: 0.875rem;
